#player{
    font-size: 300%;
}
#fondo{
    background-image: url('https://images6.alphacoders.com/129/1296311.jpg');
    background-position: center;
    background-size: cover;
    background-clip: text;
}
.header{
    padding-bottom: 15%;
    padding-top: 15%;
    
}
#titulo{
    --bs-bg-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

    
  
}
.section{
/*cambiar el fondo del section(pendiente)*/
background-image: url(https://images6.alphacoders.com/129/1296635.png);
    background-position: center;
    background-size: cover;
    background-clip: text;
    padding-bottom: 10%;
    padding-top: 1%;
    
}




